In [9]:
import pandas as pd
import librosa

## Read 2024 Train DF

In [10]:
df = pd.read_csv('../input/birdclef-2024/train_metadata.csv')
df.head()

# Create Target
label_list = sorted(df['primary_label'].unique())
label_id_list = list(range(len(label_list)))
label2id = dict(zip(label_list, label_id_list))
df['target'] = df.primary_label.map(label2id)

# Create Filepath
df['filepath'] = '../input/birdclef-2024' + '/train_audio/' + df.filename

# Create Name
df['filename'] = df['filename'].apply(lambda x: x.split('.')[0].replace('/', '-'))


# Durations
df['Duration'] = df.apply(lambda x: librosa.get_duration(path=x['filepath']), axis=1)

## Holdout

1) Takes the k less represented species
2) Gets percent of each of the k species
3) Removes all the audios with ratings leq than rating_leq_than

The output name file is adjusted to show many species remained after the rating removal

In [11]:
k = 55
percent = 0.075
rating_leq_than = 3

In [12]:
total_duration_per_species = df.groupby('primary_label')['Duration'].sum().sort_values()
bottom_k_species = total_duration_per_species.sort_values().head(k)
holdout_bottom_kspecies_vol = bottom_k_species * percent

holdout_df = pd.DataFrame(columns=df.columns)
n_audios = []
n_audios_taken = []
for species, total_duration in holdout_bottom_kspecies_vol.items():
    species_audios = df[df['primary_label'] == species].sort_values(by='Duration')
    n_audios.append(len(species_audios))
    specie_dur = 0
    n = 0
    for idx, row in species_audios.iterrows():
        if specie_dur >= total_duration:
            break
        else:
            if row['rating'] <= rating_leq_than:
                holdout_df = pd.concat([holdout_df, row.to_frame().transpose()])
                specie_dur += librosa.get_duration(path=row.filepath)
                n+=1
            else:
                pass
    n_audios_taken.append(n)
holdout_df.reset_index(drop=True, inplace=True)
results_diff = pd.DataFrame({'Specie Volumetry':bottom_k_species, '0.1%': holdout_bottom_kspecies_vol, 'Volumetry Taken': holdout_df.groupby('primary_label')['Duration'].sum().sort_values()})
results_diff.sort_values(by='Specie Volumetry', inplace=True)
results_diff['Remaining'] = (results_diff['Specie Volumetry'] - results_diff['Volumetry Taken'])
results_diff['# Audios'] = n_audios
results_diff['# Audios Taken'] = n_audios_taken
results_diff['Audios Remaining for Train'] = results_diff['# Audios'] - results_diff['# Audios Taken']
results_diff
# UNNAMED COLUMN WEIRD

,Specie Volumetry,0.1%,Volumetry Taken,Remaining,# Audios,# Audios Taken,Audios Remaining for Train
primary_label,,,,,,,
niwpig1,49.271844,3.695388,5.0155,44.256344,5,1,4
asiope1,66.758813,5.006911,3.056313,63.7025,5,1,4
integr,75.316719,5.648754,16.702031,58.614688,5,2,3
darter2,89.751500,6.731362,60.72,29.0315,7,1,6
inpher1,128.041500,9.603112,13.855844,114.185656,13,3,10
blaeag1,128.845219,9.663391,0.940406,127.904812,6,1,5
pomgrp2,141.862063,10.639655,15.768,126.094063,9,1,8
wbbfly1,162.641938,12.198145,NaN,NaN,7,0,7
bncwoo3,215.660031,16.174502,NaN,NaN,7,0,7
scamin3,226.748063,17.006105,2.951,223.797063,12,1,11
nilfly2,248.737969,18.655348,NaN,NaN,8,0,8
rutfly6,250.866125,18.814959,24.920813,225.945312,8,1,7
malwoo1,297.605125,22.320384,26.69675,270.908375,10,4,6
redspu1,311.045563,23.328417,40.385312,270.66025,16,3,13
paisto1,318.131781,23.859884,3.096,315.035781,7,1,6
brasta1,367.150813,27.536311,71.681,295.469813,13,2,11
plaflo1,370.478156,27.785862,37.029875,333.448281,20,4,16
wynlau1,373.773344,28.033001,85.420375,288.352969,6,2,4
brwjac1,373.916344,28.043726,38.008187,335.908156,20,4,16
isbduc1,385.192063,28.889405,45.879156,339.312906,16,4,12
chbeat1,386.625031,28.996877,35.004094,351.620938,22,3,19
maltro1,404.573937,30.343045,39.523313,365.050625,17,5,12
junmyn1,408.934313,30.670073,31.894687,377.039625,15,2,13
smamin1,411.684156,30.876312,30.93125,380.752906,20,4,16
crfbar1,414.958375,31.121878,44.407,370.551375,13,2,11
indtit1,424.726219,31.854466,35.424,389.302219,12,1,11
kerlau2,433.521125,32.514084,NaN,NaN,14,0,14
bkrfla1,483.581875,36.268641,76.707094,406.874781,29,6,23
dafbab1,512.546156,38.440962,144.571594,367.974562,22,5,17
grynig2,513.295938,38.497195,57.192,456.103938,20,3,17
aspfly1,560.367000,42.027525,55.161187,505.205812,26,6,20
rufbab3,605.014312,45.376073,34.992,570.022312,17,1,16
jerbus2,676.550000,50.741250,NaN,NaN,19,0,19
malpar1,689.408469,51.705635,112.733438,576.675031,20,5,15
sttwoo1,706.081188,52.956089,NaN,NaN,20,0,20
eurbla2,706.480375,52.986028,115.696344,590.784031,24,3,21
vehpar1,717.475375,53.810653,56.344,661.131375,36,7,29
aspswi1,733.995250,55.049644,63.430219,670.565031,26,6,20
comfla1,789.769937,59.232745,73.149094,716.620844,32,5,27
heswoo1,794.469062,59.585180,73.876594,720.592469,22,3,19
crbsun2,802.298969,60.172423,73.146469,729.1525,24,5,19
moipig1,804.201437,60.315108,78.262094,725.939344,27,6,21
tilwar1,824.777281,61.858296,29.472,795.305281,21,1,20
yebbab1,836.331031,62.724827,68.649812,767.681219,28,3,25
lobsun2,870.051000,65.253825,99.287531,770.763469,20,3,17
whbtre1,870.606281,65.295471,75.219094,795.387187,21,5,16
sqtbul1,890.663344,66.799751,96.006219,794.657125,24,3,21
bkcbul1,918.902219,68.917666,114.617812,804.284406,24,4,20
spoowl1,935.304875,70.147866,95.901906,839.402969,35,7,28
lewduc1,946.981156,71.023587,87.142219,859.838938,33,4,29
plhpar1,968.885188,72.666389,35.631031,933.254156,28,1,27
brfowl1,970.091844,72.756888,81.162406,888.929437,17,4,13
indrol2,971.307937,72.848095,116.112313,855.195625,35,6,29
vefnut1,1019.239656,76.442974,122.487344,896.752313,41,7,34
purswa3,1036.530906,77.739818,88.825469,947.705438,39,7,32

In [13]:
# Species removed due to the rating constraint
results_diff[results_diff['# Audios Taken'] == 0]

,Specie Volumetry,0.1%,Volumetry Taken,Remaining,# Audios,# Audios Taken,Audios Remaining for Train
primary_label,,,,,,,
wbbfly1,162.641938,12.198145,NaN,NaN,7,0,7
bncwoo3,215.660031,16.174502,NaN,NaN,7,0,7
nilfly2,248.737969,18.655348,NaN,NaN,8,0,8
kerlau2,433.521125,32.514084,NaN,NaN,14,0,14
jerbus2,676.550000,50.741250,NaN,NaN,19,0,19
sttwoo1,706.081188,52.956089,NaN,NaN,20,0,20

In [14]:
# New Number of species
act_len = len(results_diff[results_diff['# Audios Taken'] != 0])
print(act_len)

# How many audios are in holdout
print(len(holdout_df))

49
169

In [15]:
holdout_df = holdout_df[['filename']]
holdout_df.to_csv(path_or_buf='../input/birdclef-2024/holdout_'+str(k)+'bottom_'+str(percent*100)+'%_' + 'ratleq' + str(rating_leq_than) + '_.csv')

In [16]:
# Unused, just a way to separe species never in estern ghats
species_seen_in_wg = (list(df[(df['latitude'] >= 7) & (df['latitude'] <= 21) & (df['longitude'] >= 65) & (df['longitude'] <= 80)]['primary_label'].unique()))
species_unseen_in_wg = list(df[~df['primary_label'].isin(species_seen_in_wg)]['primary_label'].unique())

print(len(species_seen_in_wg))
print(len(species_unseen_in_wg))

df_wg = df[df['primary_label'].isin(species_seen_in_wg)].reset_index(drop=True)
df_notwg = df[df['primary_label'].isin(species_unseen_in_wg)].reset_index(drop=True)

165
17